<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestión de Empleados</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/department" routerLinkActive="active">Departamentos</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <button class="btn btn-outline-danger" (click)="logout()">
          <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</nav> 